.mainHome{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.mainHomeItem{
    position: relative;
    padding-top: 100%;
    width: 100%;
    transform-style: preserve-3d;
}

.mainHomeSubItem{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
}

.mainHomeSubItemFront, .mainHomeSubItemBack{
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
}

.mainHomeSubItemBack::before{
    background: linear-gradient(to top, black, transparent);
}

.mainHomeSubItemBack::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.514);
}

.mainHomeSubItemBack::after{
    content: "";
    position: absolute;
    color: transparent;
    font-weight: 900;
    font-size: 3rem;
    -webkit-text-stroke: rgba(255, 255, 255, 0.404) 1px;
    left: 0;
    bottom: 0;
}

#project::after{
    content: "PROJETO";
}

#research::after{
    content: "PESQUISA";
}

.mainHomeSubItemBack img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainHomeSubItemFront{
    background-color: black;
    transition: .2s ease-in-out;
    /* transform: translateY(-100%); */
    color: #fff;
}

.mainHomeSubItem:hover .mainHomeSubItemFront{
    transform: translateY(-100%);
}

.mainHomeSubItemFront h3{
    font-weight: 900;
    font-size: 5rem;
    margin: 0 50px;
    color: transparent;
    -webkit-text-stroke: rgba(255, 255, 255, 0.336) 1px;
}

.mainHomeItemDesc{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: -40px;
    text-align: center;
    padding: 20px;
    /* z-index: 100; */
}

.mainHomeItemDesc h2{
    font-weight: 300;
}

.mainHomeItemDesc p{
    font-weight: 200;
}

.mainHomeItemDesc button{
    background-color: transparent;
    color: #fff;
    border-style: none;
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .mainHome {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .mainHome {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .mainHome {
        grid-template-columns: repeat(1, 1fr);
    }
}
