.mainHome {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.mainHomeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mainHomeContent code {
    font-size: 1.2rem;
    margin-top: 5px;
}

.mainHomeContent code b {
    font-family: 'Source Code Pro';
    background-color: rgba(90, 90, 90, 0.527);
    padding: 5px 10px;
}

.mainHomeContent code strong {
    background: linear-gradient(90deg, rgba(0,195,195,1) 0%, rgba(246,0,228,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainHomeContentTitle {
    font-size: 2rem;
    font-family: 'Source Code Pro';
    background-color: rgba(90, 90, 90, 0.527);
    padding: 10px 20px;
}

.mainHomeContent > code {
    margin-bottom: 10px;
}

.mainHomeContentsBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border: solid 1px #fff;
    border-radius: 5px;
}

.mainHomeContentsBox span {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.mainHomeContentsBox span:nth-child(even) {
    height: 100%;
    padding: 0;
    width: 1px;
    border: solid 1px #fff;
    border-left: 0;
}

.mainHomeContentsBox a {
    text-decoration: none;
    color: #fff;
}
