.mainNavbar{
    position: absolute;
    left: 0;
    width: 70px;
    height: 100vh;
    background-color: black;
}

.mainNavbarLogo{
    width: 100%;
    padding: 5px;
}

.mainNavbarLogo img{
    cursor: pointer;
    width: 100%;
    object-fit: contain;
}

.mainNavbarItems{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
